{{#extends 'base'}}

{{#block 'content'}}
<h1>Order ID: {{order.id}}</h1>
<div class="order-details-container mb-2">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Username</th>
        <th scope="col">Status</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
        <th scope="col">No. of items</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{order.id}}</th>
        <td>
        {{#with order.user as | user |}}
          {{user.username}}
        {{/with}}
        </td>
        <td>{{order.status}}</td>
        <td>{{order.createdAt}}</td>
        <td>{{order.updatedAt}}</td>
        <td>{{order.numOrderItems}}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<h3>Items Ordered</h3>
<div class="order-items-container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Cost</th>
        <th scope="col">Total Cost</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        <tr>
          <th scope="row">{{this.product_id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.quantity}}</td>
          <td>$ {{this.unitCost}}</td>
          <td>$ {{this.totalCost}}</td>
        </tr>
      </tbody>
      {{/each}}
  </table>
</div>

<div class="redirect-btn">
  <a href="/orders/" class="btn btn-lg btn-outline-info my-3">Return to Orders</a>
</div>

{{/block}}

{{/extends}}
