{{#extends 'base'}}

{{#block 'content'}}
<h1>Shopping cart</h1>
<div class="cart-holder">
  <ul class="list-group">
    {{#each shoppingCart}}
    <li class="list-group-item my-3">
    <h4>{{this.product.name}}</h4>
    <h5><b>Type:</b> {{this.product.type.name}}</h5>
    <h5><b>Cost:</b> {{this.product.cost}} </h5>        
    <form method="POST" action="/cart/{{this.id}}/quantity/update">
    <input type="hidden" value="{{../csrfToken}}" name="_csrf"/> 
    <h5>
    <b>Quantity:</b> <input type="text" name="newQuantity" value="{{this.quantity}}" style="width:30px" /> 
    <input type="submit" value="Update Quantity" class="btn btn-outline-secondary btn-sm" />
    </h5>
    </form>

    <div>
      <a href="/cart/{{this.product.id}}/remove" class="btn btn-outline-danger btn-sm">Remove</a>
    </div>
    
    </li>
    {{/each}}
  </ul>
</div>

<div class="redirect-btn">
  <a href="/checkout/" class="btn btn-sm btn-outline-info my-3">Checkout</a>
</div>

{{/block}}

{{/extends}}
