{{#extends 'base'}}

{{#block 'content'}}
  {{#each products}}
    <div class="products-holder row mt-3">
      <div class="card" style="width: 18rem;">
        <img src="{{this.image}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-black">{{this.name}}</h5>
          {{!-- <p class="card-text">{{this.description}}</p> --}}
          <p class="card-text">S${{this.cost}}</p>
          <div class="icons">
            <i class="fa-solid fa-cart-plus"></i>
            <a href="/products/{{this.id}}/update">
              <i class="fa-solid fa-pen-to-square" ></i>
            </a>
            <a href="/products/{{this.id}}/delete">
              <i class="fa-solid fa-trash" ></i>
            </a>
          </div>    
        </div>
      </div>
    </div>
  {{/each}}
  <div class="create-btn">
    <a href="/products/create" class="btn btn-outline-dark mt-5">Add more products</a>
  </div>
{{/block}}

{{/extends}}
